<!DOCTYPE html>
<html ng-app="myapp" ng-controller="Mycontroller">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">

    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/angularjs/angular.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="/assets/ng-infinite-scroll.min.js"></script>
    <script src="/controller/app.js"></script>
    <script src="/controller/jquery.raty.js"></script>


    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/mycss/main.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<div ng-view class="container"></div>

</body>
</html>