<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :edit, model_nav_name: :admin_express_order, pjax: true, model: 'ExpressOrder'} %>
    <%= render 'form' %>
  </div>
</div>
