<div class="address-form">
    <ul>
        <li>
            <span>收货地址*</span>
            <input type="text" ng-model="receiving_address.address" placeholder="详细地址">
        </li>
        <li>
            <span>收货电话*</span>
            <input type="text" ng-model="receiving_address.phone" placeholder="手机或手机">
        </li>
        <li>
            <span>收货人姓名</span>
            <input type="text" ng-model="receiving_address.name">
        </li>
        <li>
            <span>是否设为默认</span>
            <!--<input type="checkbox" ng-model="receiving_address.is_default" ng-init="receiving_address.is_default=true">-->
            <label class="table-checkbox"><input type="checkbox"  ng-model="receiving_address.is_default" ng-init="receiving_address.is_default=true"><span class="check"></span></label>
        </li>
    </ul>
    <a ng-click="create_address()"><span>保存并使用</span></a>
</div>
