<div class="detail-head">
    <ul>
        <li>
            <div class="detail-head-icon" ng-class="{'detail-head-icon-red': (isActive==1 || isActive==2 || isActive==3 || isActive==4 || isActive==5 || isActive==6)}">
                <i class="fa fa-reorder"></i>
            </div>
            <p class="detail-head-operate">下单</p>
            <p class="detail-head-time">{{order_info.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
            <div class="detail-line detail-line-silver"></div>
        </li>

        <li>
            <div class="detail-head-icon " ng-class="{'detail-head-icon-red': (isActive==4 || isActive==5 || isActive==6)}">
                <i class="fa fa-map-marker"></i>
            </div>
            <p class="detail-head-operate">配送</p>
            <p class="detail-head-time"  ng-if="order_expresss.user_id != null">{{order_expresss.updated_at | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
            <div class="detail-line detail-line-silver"></div>
        </li>

        <li>
            <div class="detail-head-icon " ng-class="{'detail-head-icon-red': (isActive==5 || isActive==6)}">
                <i class="fa fa-check"></i>
            </div>
            <p class="detail-head-operate">确认送达</p>
            <p class="detail-head-time">{{order_info.complete_date | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
            <div class="detail-line detail-line-silver"></div>
        </li>

        <li>
            <div class="detail-head-icon" ng-class="{'detail-head-icon-red': (isActive==6)}">
                <i class="fa fa-comment"></i>
            </div>
            <p class="detail-head-operate">评价</p>

        </li>
    </ul>
</div>
<div class="shop-list integral-list detail-list" ng-repeat="(k,abs) in order_detail">
    <h3><span>{{k}}</span></h3>
    <ul>
        <li  ng-repeat="temp in abs">
            <div class="detail-list-name">{{temp.commodity.name}}</div>
            <div class="detail-list-num">x{{temp.count}}</div>
            <div class="detail-list-price">¥ {{temp.price}}</div>
        </li>

    </ul>
</div>
<div class="detail-total">
    总计：<span class="highlight">¥{{order_total}}</span>
</div>
<ul class="detail-info">
    <li>订单号：{{order_id}}</li>
    <li>地址：{{order_expresss.address}}</li>
    <li>有问题请联系: {{shop.phone}}</li>
</ul>
<div>
   <a class="btn-comment" ng-show="isActive==3 && order_info.pay_style==0" ng-click="cancel_order()">取消订单</a>
</div>
<div>
    <a class="btn-comment" ng-show="isActive==1" ng-click="pay_order(order_info.id)">支付订单</a>
</div>
