<div class="row">
  <div class="col-xs-12">
    <%= render partial:  'common/nav', locals: {show_tab: :index, model_nav_name: :admin_classification, pjax: true, model: Classification} %>
    <% if can? :delete, Classification %><%= form_for 'Classification', url: admin_classifications_destroy_multi_path, method: :post, data: { confirm: "#{  t 'common.confirm_delete'}"} do %><% end %>
    <button class="btn btn-minier btn-danger" type="submit"><i class="icon-trash"></i> <%= t 'common.delete_multi' %></button>
    <div id="admin_classifications">
      <%= grid(@classifications, show_filters: :when_filtered) do |g|
      g.action_column param_name: :select_ids, object_property: :id
      g.column name: "#{t 'activerecord.attributes.defaults.id'}", attribute: 'id', filter: false, ordering: true
      g.column name: "#{t 'activerecord.attributes.classification.name'}", attribute: 'name' do |c|
        link_to c.name, admin_classification_path(c.id), class: :pjax
      end
      g.column name: "#{t 'activerecord.attributes.classification.parent'}", attribute: 'parent_id' do |c|
        c.parent.name if c.parent.present?
      end
      g.column name: "#{t 'activerecord.attributes.classification.single_statistics'}", attribute: 'single_statistics' do |c|
        c.single_statistics == true ? '是' : '否'
      end
      g.column name: "#{t 'activerecord.attributes.classification.position'}", attribute: 'position'

        g.column  do |c|
          grid_operator(:admin_classification_path, c.id, Classification)
        end
      end %>
    </div>

    <% end %>
  </div>
</div>

<script>
    $(function () {
        $('.nav.nav-list li.active').removeClass('active');
        $('.nav.nav-list li[data-model="classification_list"]').addClass('active');
    } );
</script>