<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :new, model_nav_name: :admin_classification, pjax: true, model: Classification} %>
    <%= render 'form' %>
  </div>
</div>