<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :new, model_nav_name: :admin_shop_manage_user, pjax: true,model:ShopManageUser} %>
    <%= render 'form' %>
  </div>
</div>