<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :index, model_nav_name: :admin_role, pjax: false,model: Role} %>
    <%= form_for 'Role', url: admin_roles_destroy_multi_path, method: :post, data: { confirm: "#{  t 'common.confirm_delete'}"} do %>
        <% if can? :delete,Role %><button class="btn btn-minier btn-danger" type="submit"><i class="icon-trash"></i> <%= t 'common.delete_multi' %></button><% end %>
        <div id="admin_roles">
          <%= grid(@roles, show_filters: :when_filtered) do |g|
            g.action_column param_name: :select_ids, object_property: :id
            g.column name: "#{t 'activerecord.attributes.defaults.id'}", attribute: 'id', filter: false, ordering: true
            g.column name: "#{t 'activerecord.attributes.role.name'}", attribute: 'name' do |c|
              link_to c.name, admin_role_path(c.id), class: :pjax
            end
            g.column name: "#{t 'activerecord.attributes.role.description'}", attribute: 'description'
            g.column name: "#{t 'activerecord.attributes.role.position'}", attribute: 'position'

            g.column do |c|
              grid_operator(:admin_role_path, c.id,Role)
            end
          end %>
        </div>
    <% end %>
    <script>
        $(function () {
            $('.nav.nav-list li.active').removeClass('active');
            $('.nav.nav-list li[data-model="role_list"]').addClass('active');
        });
    </script>
  </div>
</div>