<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :edit, model_nav_name: :admin_order_comment, pjax: true,model: OrderComment} %>
    <%= render 'form' %>
  </div>
</div>
