<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'common/nav', locals: {show_tab: :index, model_nav_name: :admin_notice, pjax: false, model: 'Notice'} %>
    <%= form_for 'Notice', url: admin_notices_destroy_multi_path, method: :post, data: {confirm: "#{  t 'common.confirm_delete'}"} do %>
        <button class="btn btn-minier btn-danger" type="submit">
          <i class="icon-trash"></i> <%= t 'common.delete_multi' %></button>
        <div id="admin_notices">
          <%= grid(@notices, show_filters: :when_filtered) do |g|
            g.action_column param_name: :select_ids, object_property: :id
            g.column name: "#{t 'activerecord.attributes.defaults.id'}", attribute: 'id', filter: false, ordering: true
            g.column name: "#{t 'activerecord.attributes.notice.title'}", attribute: 'title'
            g.column name: "#{t 'activerecord.attributes.notice.content'}", attribute: 'content'
            g.column name: "#{t 'activerecord.attributes.notice.author'}", attribute: 'author'
            g.column name: "#{t 'activerecord.attributes.notice.public_at'}", attribute: 'public_at'

            g.column do |c|
              grid_operator(:admin_notice_path, c.id, 'Notice')
            end
          end %>
        </div>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    $('.nav.nav-list li.active').removeClass('active');
    $('.nav.nav-list li[data-model="notice_list"]').addClass('active');
  });
</script>